---
import BaseLayout from "@/layouts/BaseLayout.astro";

import SeoPage from "@/components/SeoPage.astro";
import NotFound from "@/components/NotFound.astro";
---

<BaseLayout>
    <SeoPage slot="head"/>
    <main>
        <NotFound text="It's under construction. Come back soon!"/>
    </main>
</BaseLayout>
